<div class="card-footer text-muted">
  <div class="row">
    <div class="col-sm-12 col-12">
      <ul class="list-group">
        <li class="list-group-item">
          <a
            class="collapsed d-block link"
            data-toggle="collapse"
            href="#%s"
            aria-expanded="false"
            aria-controls="%s"
            id="heading-collapsed"
          >
            %s
            <img class="downArrow" src="../assets/caret-down-fill.svg" />
          </a>
        </li>
      </ul>
      <div id="%s" class="collapse" aria-labelledby="heading-collapsed">
        <table class="table">
